/* START MENU BAR */

.toggle-group {
    /* border: 1px solid red; */
    background: white;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 4;
}

.toggle {
    /* border: 1px solid red; */
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2
}

.toggle a {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -100%;
    /* width: 150%; */
    width: 320px; 
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

ul {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

ul li {
    list-style: none;
}

ul li i{
    font-size: 1.5em;
}

ul li a {
    /* border: 1px solid green;  */
    padding: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: #111334;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

/* ul li a:hover {
    background: #FFFC85
} */

.menu.active {
    right: 0;
    overflow: auto;
}

/* END MENU BARl */

/* CARD SETTING */

.card-setting{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-header-setting{
    background: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
}

.card-header-setting p{
    color: black;
    padding: 10px;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
    margin: 0px;
}

.card-body-setting{
    padding: 10px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}

.card-body-setting p{
    /* border: 1px solid red; */
    margin: 0px;
}


.card-body-setting select{
    /* border: 1px solid red; */
    width: 150px !important;
}


/* For mobile devices (max width 600px) */
@media only screen and (max-width: 600px) {
   
}

/* For tablets (between 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  
}

/* For desktops (min width 768px) */
@media only screen and (min-width: 768px) {
  .header{
      margin-top: 70px;
  }

}
