/* START MENU BAR */

.toggle-group {
    /* border: 1px solid red; */
}

.toggle {
    /* border: 1px solid red; */
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2
}

.toggle a {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
}

ul {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

ul li {
    list-style: none;
}

ul li a {
    /* border: 1px solid green;  */
    padding: 10px;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #111334;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

/* ul li a:hover {
    background: #FFFC85
} */

.menu.active {
    right: 0;
    overflow: auto;
}

/* END MENU BARl */

/* CARD SETTING */

.card-setting{
    border: 1px solid rgb(136, 134, 134);
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-header-setting{
    background: #111334;
    border-radius: 10px 10px 0px 0px;
}

.card-header-setting p{
    color: white;
    padding: 10px;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
    margin: 0px;
}

.card-body-setting{
    padding: 10px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}

.card-body-setting p{
    /* border: 1px solid red; */
    margin: 0px;
}


.card-body-setting select{
    /* border: 1px solid red; */
    width: 150px !important;
}
