.phrase{
    /* border: 1px solid red; */
    display: flex;
    flex-direction:row ;
    align-items: center;

}

.p-phrase{
    /* border: 1px solid green; */
    padding-left: 5px;
    margin: 0px;
}

.bi-circle-fill{
    /* border: 1px solid blue; */
    font-size: 10px;
}

.p-phrase-translate{
    padding-left: 15px;
}
.accordion-body{
    /* border: 1px solid green; */
}
.group-phrase{
    /* border: 1px solid red; */
}

.group-type{
    /* border: 1px solid red; */
    background: #F5F7FB;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.p-phrase-translate,.p-phrase,.bi-circle-fill{
    color: #2C2C2C !important;
}
.p-phrase{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.title-sentence{
    color: #111334;
    font-family: "Roboto", system-ui;
  font-weight: 900;
  font-style: normal;
}

/* COLOR CARD */

.color-card-example-phrases {
    background-color: #e0f7e0; /* Un color verde claro */
    /* border-left: 4px solid #4caf50; Borde verde */
    padding: 10px;
    margin-bottom: 10px;
}
