/* START MENU BAR */

.toggle-group {
    /* border: 1px solid red; */
    background: white;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2 !important;
}

.toggle {
    /* border: 1px solid red; */
    position: fixed;
    top: 10px;
    right: 20px;
    /* z-index: 5; */
}

.toggle a {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -100%;
    /* width: 150%; */
    width: 320px; 
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

ul {
    /* border: 1px solid red;  */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 13%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
}

ul li {
    list-style: none;
}

ul li i{
    font-size: 1.5em;
}

ul li a {
    /* border: 1px solid green;  */
    padding: 10px;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: #111334;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

/* ul li a:hover {
    background: #FFFC85
} */

.menu.active {
    right: 0;
    overflow: auto;
}

/* END MENU BARl */

.header{
    /* margin-top: 15px; */
    margin-top: 55px;
}

.phrase {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.p-phrase {
    /* border: 1px solid green; */
    padding-left: 5px;
    margin: 0px;
}

.bi-circle-fill {
    /* border: 1px solid blue; */
    font-size: 10px;
}

.p-phrase-translate {
    padding-left: 15px;
}

.accordion-body {
    /* border: 1px solid green; */
}

.group-phrase {
    /* border: 1px solid red; */
}

.group-type {
    /* border: 1px solid red; */
    background: #F5F7FB;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.p-phrase-translate,
.p-phrase,
.bi-circle-fill {
    color: #2C2C2C !important;
}

.p-phrase {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.title-sentence {
    color: #111334;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

/* COLOR CARD */

.color-card-example-phrases {
    background-color: #e0f7e0;
    /* Un color verde claro */
    /* border-left: 4px solid #4caf50; Borde verde */
    padding: 10px;
    margin-bottom: 10px;
}


/* For mobile devices (max width 600px) */
@media only screen and (max-width: 600px) {
   
  }
  
  /* For tablets (between 600px and 768px) */
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    
  }
  
  /* For desktops (min width 768px) */
  @media only screen and (min-width: 768px) {
    .header{
        margin-top: 70px;
    }

  }
  